.card {
  width: 350px;
  cursor: pointer;
  transition: transform 300ms ease;
  /* background: linear-gradient(90deg, rgb(75, 10, 97) 0%, rgb(43, 17, 44) 64%, rgb(71, 14, 36) 100%); */
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05)
}

.card>img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  text-transform: capitalize;
  margin: 0.5em 0;
  transition: transform 200ms ease;
  background: -webkit-linear-gradient(rgba(230, 145, 67, 0.973), rgb(162, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:hover .title {
  transform: scale(1.4);
}

.characters {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1.5em 0;
}


.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  padding: 5px;
  transition: transform 200ms ease;
}

.avatar:hover {
  transform: scale(1.4);
}