.header {
  position: sticky;
  top: 0;
  background-color: hsla(0, 0%, 7%, 0.712);
  padding: 0.7em;
}

.characters {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.character {
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  border: solid white;
  transition: transform 300ms ease;
}

.character:hover {
  transform: scale(1.5)
}

.found {
  filter: grayscale();
}

.invalid::after {
  content: 'Keep trying...';
  position: absolute;
  width: 200px;
  padding: 0.5em;
  background-color: rgba(255, 0, 0, 0.842);
  text-align: center;
  bottom: -60%;
  border-radius: 10px;
}

.valid::after {
  content: 'Good job!';
  position: absolute;
  width: 200px;
  padding: 0.5em;
  background-color: rgba(25, 211, 0, 0.842);
  text-align: center;
  bottom: -60%;
  border-radius: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}