.dialog {
  position: absolute;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.404);
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  transition: tranform 200ms ease;
  margin: 5px;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.2);
}