.card {
  height: 200px;
  width: 90px;
  cursor: pointer;
  transition: transform 300ms ease;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05)
}

.card>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.selected {
  outline: solid 7px var(--primary-600);
}



@media (min-width: 600px) {
  .card {
    height: 300px;
    width: 150px;
  }
}

@media (min-width: 800px) {
  .card {
    height: 300px;
    width: 200px;
  }
}