.card {
  height: 300px;
  width: 200px;
  cursor: pointer;
  transition: transform 300ms ease;
}

.card:hover {
  transform: scale(1.05)
}

.card>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.selected {
  outline: solid 7px var(--primary-600);
}