.center {
  display: flex;
  justify-content: center;
}



.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: min(800px, 90vw);
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #3b3b3b;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-500);
  color: white;
}