.center {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: min(800px, 90vw);
  font-size: 0.75em;
}

.table td,
.table th {
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #3b3b3b;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(71, 13, 110);
  color: white;
}

@media (min-width: 600px) {
  .table {
    font-size: 1em;
  }
}